
body{
		background-color: lavender
		
		
}
footer{
		
		background: white;
		position: fixed; bottom: 0;
		width: 95%;
		
}

main{
		text-align: center;
		
}
h1 {
		text-align: center;
		color: saddlebrown
		
		
}
footer {
		color: red;
		
		
}
nav {
		font-size: 150%;
		
		
}